<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.zharovvv.sandboxx">

    <!-- В манифесте прописываются все компоненты приложения.
    Прописываются intent-filters, разрешения, требования по оборудованию.

    Манифест читает система при установке приложения и при его запуске, чтобы понять,
    что представлеяет собой приложение и какие у него есть точки входа.

    Манифест читает Google Store чтобы понять, что представляет собой приложение и какие у него есть
    требования по оборудованию и поддерживаемым версиям ОС.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Обеспечивает приблизительное местоположение устройства с точностью до 1,6 км.-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--Обеспечивает максимально точную оценку местоположения устройства, обычно в пределах
    около 160 футов (50 метров), а иногда с такой же точностью,
    как в пределах 10 футов (нескольких метров) или лучше.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Для использования CallLog-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".SandboxXApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appx_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSTheme"
        tools:replace="android:theme">

        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>